{
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true
  },
  "extends": ["plugin:prettier/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": 0,
    "max-len": ["error", { "code": 140 }],
    "no-param-reassign": ["error", { "props": false }],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "consistent": true },
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }
    ],
    "semi": 0
  }
}